# Used for GitHub Actions, missing certs and Directus
services:
  nextjs-test:
    container_name: nextjs-test
    env_file:
      - ./nextjs/.env
    build:
      context: ./nextjs
      dockerfile: Dockerfile.prod

  nginx-test:
    container_name: nginx-test
    image: nginx:1.29.4-alpine
    ports:
      - 80:80
    volumes:
      - ./nginx.test.conf:/etc/nginx/nginx.conf
    depends_on:
      - nextjs-test
