# perfect for local development, no need to dockerized anything else
# remember to update the nextjs .env file with the correct directus backend values
services:
  database:
    image: postgres:16.13
    volumes:
      - ./data/database:/var/lib/postgresql/data
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  cache:
    image: redis:6
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  directus:
    image: directus/directus:11.14.1
    ports:
      - 8055:8055
    volumes:
      - ./uploads:/directus/uploads
      - ./extensions:/directus/extensions
    env_file:
      - .env
    environment:
      CACHE_ENABLED: "true"
      CACHE_AUTO_PURGE: "true"
      CACHE_STORE: "redis"
      REDIS: "redis://cache:6379"
    depends_on:
      cache:
        condition: service_healthy
      database:
        condition: service_healthy
    restart: unless-stopped
