# perfect for local development, no need to dockerized anything else
# remember to update the nextjs .env file with the correct directus backend values
services:

  database:
    image: postgres:16.4
    volumes:
      - ./data/database:/var/lib/postgresql/data
    env_file:
      - .env

  cache:
    image: redis:6

  directus:
    image: directus/directus:11.14.0
    ports:
      - 8055:8055
    volumes:
      - ./uploads:/directus/uploads
      - ./extensions:/directus/extensions
    env_file:
      - .env
    environment:
        CACHE_ENABLED: "true"
        CACHE_AUTO_PURGE: "true"
        CACHE_STORE: "redis"
        REDIS: "redis://cache:6379"
    depends_on:
      - cache
      - database


