name: NextJS lint and unit tests
on:
  push:
    branches:
      - main

  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    env:
      NEXT_TELEMETRY_DISABLED: 1
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: "24"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: nextjs/package.json

      - name: Install dependencies
        run: cd nextjs && pnpm install --frozen-lockfile

      - name: Run NextJS lint
        run: cd nextjs && pnpm run lint

  # unit tests are here as they are fast to run
  test:
    name: Vitest unit tests
    runs-on: ubuntu-24.04
    env:
      NEXT_TELEMETRY_DISABLED: 1
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: "24"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: nextjs/package.json

      - name: Install dependencies
        run: cd nextjs && pnpm install --frozen-lockfile

      - name: Run Vitest unit tests
        run: cd nextjs && pnpm run test:run
