name: NextJS lint
on:
    push:
        branches:
            - main

    pull_request:
        branches: [main]
        types: [opened, synchronize]

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-22.04
        env:
            NEXT_TELEMETRY_DISABLED: 1
        steps:
            - uses: actions/checkout@v6.0.1
            - uses: actions/setup-node@v4.0.2
              with:
                  node-version: "20"

            - name: Install dependencies
              run: cd nextjs && npm ci

            - name: Run NextJS lint
              run: cd nextjs && npm run lint

    # test:
    #     name: Vitest tests
    #     runs-on: ubuntu-22.04
    #     steps:
    #         - uses: actions/checkout@v3
    #         - uses: actions/setup-node@v3
    #           with:
    #               node-version: "22"

    #         - name: Install dependencies for frontend
    #           run: npm install

    #         - name: Run frontend tests
    #           run: npm run test:vite
